<section class="footer" id="footer">
  <div class="container">
    <div class="row">
      <div class="col-sm">
        <img
          class="my-profilepicsmall"
          src="/assets/img/profilepic/propic-fliped.png"
        />
        <p class="my-sociallinks fw1 my-fsize">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam ut
          felis scelerisque, egestas orci in, maximus mi. Nullam enim est,
          malesuada sit amet urna quis, tempus gravida risus. Donec sagittis
          erat in fringilla accumsan. Morbi facilisis interdum erat. Nullam
          accumsan nulla nec lectus interdum efficitur. Phasellus ac ligula sed
          lorem porttitor accumsan. Nam facilisis aliquet commodo. Orci varius
          natoque penatibus et magnis dis parturient montes, nascetur ridiculus
          mus.
        </p>
        <ul class="my-ul">
          <li class="my-sociallinks">
            <a
              class=""
              rel="tooltip"
              title="Resumé"
              data-placement="bottom"
              href="#"
              target="_top"
            >
              <i class="fa fa-file-pdf-o fa-2x my-2ntextcolor"></i>
            </a>
            <p class="fw1 my-fsize">Resumé in PDF</p>
          </li>
        </ul>
      </div>
      <div class="col-sm">
        <ul class="my-ul">
          <li class="my-sociallinks">
            <a
              class=""
              rel="tooltip"
              title="Connect on Linkedin"
              data-placement="bottom"
              href="mailto:someone@example.com?Subject=Example"
              target="_top"
            >
              <i class="fa fa-envelope fa-2x my-2ntextcolor"></i>
            </a>
            <a
              href="mailto:someone@example.com?Subject=Example"
              target="_top"
            ></a>
            <p class="fw1 my-fsize">Contact me via email</p>
          </li>
          <li class="my-sociallinks">
            <a
              class=""
              rel="tooltip"
              title="Star on GitHub"
              data-placement="bottom"
              href="#"
              target="_blank"
            >
              <i class="fa fa-github fa-2x my-2ntextcolor"></i>
            </a>
            <p class="fw1 my-fsize">
              View
              <a href="#" target="_blank">@username</a>
              on GitHub for open-source projects such as [project names].
            </p>
          </li>
          <li class="my-sociallinks">
            <a
              class=""
              rel="tooltip"
              title="Connect on Linkedin"
              data-placement="bottom"
              href="#"
              target="_blank"
            >
              <i class="fa fa-linkedin fa-2x my-2ntextcolor"></i>
            </a>
            <p class="fw1 my-fsize">
              View my
              <a href="#" target="_blank">LinkedIn profile</a>
            </p>
          </li>
        </ul>
      </div>
      <div class="col-sm">
        <ul class="my-ul">
          <li class="nav-item">
            <a
              class="my-footerlinks"
              style="cursor: pointer;"
              (click)="scrollTo('about')"
              >ABOUT</a
            >
            <p class="fw1 my-fsize">Learn more about [your name]</p>
          </li>
          <li class="nav-item">
            <a
              class="my-footerlinks"
              style="cursor: pointer;"
              (click)="scrollTo('projects')"
              >PROJECTS</a
            >
            <p class="fw1 my-fsize">
              View [your name] software development work
            </p>
          </li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-11 copyright">
        Copyright © 2019 angular-bootstrap-portfolio Design
      </div>
    </div>
  </div>
</section>
